body{
    margin-left: 20px;
}
.chat{
    background-color: rgb(206, 241, 242);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}