*{
    padding: 0px;
    margin: 0px;
}
body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px , solid , black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: rgb(242, 123, 79);
}
.red{
    background-color:palevioletred;
}
.purple{
    background-color: rgb(117, 117, 189);
}
.green{
    background-color: aquamarine;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}