<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Paget</title>
</head>
<body>
    <h1>This is home page 5*6</h1>
    <%= 5*6 %> // gives output to the dynamic 
    <p>The transaction copies required data items from the database into local workspace.

All operations (reads/writes) are performed on the local copies.

No locks are placed, so concurrency is maximized.

Changes are not visible to other transactions at this stage.</p>
<button>click me</button>
</body>
</html>