<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username" type="text"><br><br>
        <textarea placeholder="Write your posts" name="content"></textarea><br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>